.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('../../background.png');
    background-size: contain;
    background-repeat: round;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1.5vh;
    border: #61DAFB solid 4px;
    border-radius: 4px;
    height: fit-content;
    background-color: white;
}